<div class="p-3 d-flex flex-row align-items-center">
    <div>
        <div class="d-flex square "></div>
    </div>
    <div class="d-flex p-3 flex-column ">
        <div class="itemTitle">{{obj.title}}</div>
        <div class="itemBody">{{obj.body}}</div>
    </div>
</div>
<hr *ngIf="obj.id !== lastChild[0].id" class="solid dividerCustom">
